{
  "extends": "google",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2017
  },
  "rules": {
    "max-len": [
      "error",
      {
        "code": 120,
        "ignoreTrailingComments": true,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreRegExpLiterals": true
      }
    ],
    "comma-dangle": [
      "error",
      "never"
    ],
    "require-jsdoc": 0
  }
}